<button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon" (click)="backHome()">
    <mat-icon>arrow_circle_left</mat-icon>
</button>

<div *ngIf="movie; else noMovie" class="container">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title class="card-title">{{ movie.Title }}</mat-card-title>
            <mat-card-subtitle>{{ movie.Year }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="movie-text">

            <mat-divider></mat-divider>

            <p>Type: {{ movie.Type }}</p>
            <p>Genre: {{ movie.Genre }}</p>
            <p>Released: {{ movie.Released }}</p>
            <p>Runtime: {{ movie.Runtime }}</p>
            <p>Awards: {{ movie.Awards }}</p>
            <p>IMDB Votes: {{ movie.imdbVotes }}</p>
            <p>IMDB Rating: {{ movie.imdbRating }}</p>
            <p>Box Office: {{ movie.BoxOffice }}</p>
            <p>Director: {{ movie.Director }}</p>
            <p>Writer: {{ movie.Writer }}</p>
            <p>Actors: {{ movie.Actors }}</p>
            <p>Language: {{ movie.Language }}</p>
            <p>Country: {{ movie.Country }}</p>

            <mat-divider></mat-divider>

            <p class="movie-text">
                Plot: {{ movie.Plot }}
            </p>

            <mat-divider></mat-divider>

            <mat-card-actions>
                <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon">
                    <mat-icon>favorite</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
        <img mat-card-image src="{{ movie.Poster }}" alt="Movie Poster">
    </mat-card>
</div>


<ng-template #noMovie>
    <p class="noMovie">Nenhum filme encontrado.</p>
</ng-template>